{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<footer class="footer footer-banner-img footer-clean footer-homepage color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
  {%- liquid
    assign has_social_icons = true
    if settings.social_facebook_link == blank and settings.social_instagram_link == blank and settings.social_youtube_link == blank and settings.social_tiktok_link == blank and settings.social_twitter_link == blank and settings.social_pinterest_link == blank and settings.social_snapchat_link == blank and settings.social_tumblr_link == blank and settings.social_vimeo_link == blank
      assign has_social_icons = false
    endif

    if settings.brand_image == blank and settings.brand_headline == blank and settings.brand_description == blank
      assign brand_empty = true
    endif

    if section.blocks.size == 1 and section.blocks[0].type == 'brand_information' and brand_empty and has_social_icons == false and section.settings.newsletter_enable == false and section.settings.enable_follow_on_shop == false
      assign only_empty_brand = true
    endif
  -%}
  <!-- Clean Homepage Footer Design (With Newsletter) -->
  <div class="footer__content-main page-width">
    
    {%- if section.settings.newsletter_enable -%}
      <!-- Newsletter Section -->
      <div class="footer__newsletter-section">
        {%- if section.settings.newsletter_heading != blank -%}
          <h2 class="footer__newsletter-heading">{{ section.settings.newsletter_heading }}</h2>
        {%- endif -%}
        
        <div class="klaviyo-form-Xx3Apa newsletter_Klaviyo"></div>
        
        {%- if section.settings.newsletter_paragraph != blank -%}
          <div class="footer__newsletter-paragraph">{{ section.settings.newsletter_paragraph }}</div>
        {%- endif -%}
      </div>
    {%- endif -%}
    
    <!-- Payment Icons -->
    {%- if section.settings.payment_enable -%} 
      <div class="footer__payment">
        <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
        <ul class="list list-payment" role="list">
          {% assign enabled_payment_types = 'apple_pay,master,paypal,visa' | remove: ' ' | split: ',' %}
          {% for type in enabled_payment_types %}
          <li class="list-payment__item">
            {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
          </li>
          {%- endfor -%}
        </ul>
      </div>
    {%- endif -%}


  </div>

  <!-- Clean Homepage Footer Navigation -->
  <div class="footer__content-bottom">
    <div class="footer__content-bottom-wrapper page-width">
      
      <!-- Horizontal Navigation Links -->
      <div class="footer__navigation">
        <nav class="footer__nav-links" role="navigation" aria-label="Footer">
          {%- if section.settings.footer_menu != blank -%}
            {%- for link in section.settings.footer_menu.links -%}
              <a href="{{ link.url }}" class="footer__nav-link">
                {{ link.title | upcase }}
              </a>
            {%- endfor -%}
          {%- else -%}
            <!-- Default links if no menu is set -->
            <a href="/pages/shipping" class="footer__nav-link">SHIPPING</a>
            <a href="/pages/returns" class="footer__nav-link">RETURNS</a>
            <a href="/pages/faqs" class="footer__nav-link">FAQS</a>
            <a href="/pages/terms" class="footer__nav-link">TERMS</a>
            <a href="/pages/privacy" class="footer__nav-link">PRIVACY</a>
            <a href="/pages/contact" class="footer__nav-link">CONTACT</a>
          {%- endif -%}
        </nav>
      </div>

      <!-- Social Media Icons -->
      {%- if section.settings.show_social and has_social_icons -%}
        <div class="footer__social-media">
          {%- render 'social-icons', class: 'footer__social-icons' -%}
        </div>
      {%- endif -%}

      <!-- Copyright -->
      <div class="footer__copyright">
        <small class="copyright__content">
          {%- if section.settings.copyright_text != blank -%}
            {{ section.settings.copyright_text }}
          {%- else -%}
            GENUINEBLANKS © 2025. ALL RIGHTS RESERVED.
          {%- endif -%}
        </small>
      </div>
      
    </div>
  </div>
  <div id="section-dots" class="section-dot-navigation">
  </div>
</footer>