{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<footer class="footer {% if template contains 'index' %}footer-banner-img{% endif %} color-{{ section.settings.color_scheme }} section-{{ section.id }}-padding">
  {%- liquid
    assign has_social_icons = true
    if settings.social_facebook_link == blank and settings.social_instagram_link == blank and settings.social_youtube_link == blank and settings.social_tiktok_link == blank and settings.social_twitter_link == blank and settings.social_pinterest_link == blank and settings.social_snapchat_link == blank and settings.social_tumblr_link == blank and settings.social_vimeo_link == blank
      assign has_social_icons = false
    endif
  -%}
  
  <div class="main-footer-content">
    <!-- Company Branding -->
    <div class="footer-branding">
      <h2 class="footer-brand-name">GENUINEBLANKS</h2>
      <p class="footer-brand-subtitle">PREMIUM BLANK GARMENTS</p>
    </div>

    <!-- Email Signup with Klaviyo -->
    {%- if section.settings.newsletter_enable -%}
      <div class="footer-newsletter">
        {%- if section.settings.newsletter_heading != blank -%}
          <h3 class="newsletter-heading">{{ section.settings.newsletter_heading }}</h3>
        {%- endif -%}
        {%- if section.settings.newsletter_paragraph != blank -%}
          <p class="newsletter-description">{{ section.settings.newsletter_paragraph }}</p>
        {%- endif -%}
        <div class="klaviyo-form-Xx3Apa newsletter_Klaviyo"></div>
      </div>
    {%- endif -%}

    <!-- Navigation Links -->
    {%- if section.settings.show_policy_menu != blank -%}
      <nav class="footer-navigation">
        <ul class="footer-nav-list">
          {%- for link in section.settings.show_policy_menu.links -%}
            <li><a href="{{ link.url }}">{{ link.title | upcase }}</a></li>
          {%- endfor -%}
        </ul>
      </nav>
    {%- endif -%}

    <!-- Social Media Icons -->
    {%- if section.settings.show_social and has_social_icons -%}
      <div class="footer-social">
        {%- render 'social-icons', class: 'footer__list-social' -%}
      </div>
    {%- endif -%}

    <!-- Copyright -->
    {%- if section.settings.copyright_text != blank -%}
      <div class="footer-copyright">
        <p>{{ section.settings.copyright_text }}</p>
      </div>
    {%- endif -%}
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "inline_richtext",
      "id": "newsletter_heading",
      "default": "Subscribe to our emails",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
     {
      "type": "inline_richtext",
      "id": "newsletter_paragraph",
      "label": "Paragraph"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "link_list",
      "id": "show_policy_menu",
      "label": "Select Menu"
    },
    {
      "type": "text",
      "id": "copyright_text",
      "label": "Enter Copyright Text Here"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.footer.settings.margin_top.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}